<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ORDERINFO">

    <select id="queryOrderList" parameterType="map" resultType="map">
        select * from t_order_info_dtl
    </select>

    <insert id="insert" parameterType="map">
        <selectKey resultType="long" keyProperty="ordreId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_order_test(
            createTime,
            recName
        )
        values
        (
            #{createTime,jdbcType=TIMESTAMP},
            #{recName, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="map">
        update t_order_info_dtl
        <set>
            <if test="orderStatus != null">
                orderStatus = #{orderStatus}
            </if>
        </set>
        <where>
            <if test="orderNo != null and orderNo != ''">
                orderNo = #{orderNo}
            </if>

        </where>

    </update>

    <delete id="delete" parameterType="map">
        delete from t_order_test
        <where>
            <if test="orderId !=null and orderId != ''">
                orderId = #{orderId}
            </if>
        </where>
    </delete>
</mapper>